body {
    background-color: rgb(16, 16, 16);
}

.imgRatio {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: grab;
    position: absolute;
}

.dragged::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(252, 246, 237, 0.819);
}

@media (max-width: 960px) {
    .bookContainer {
        transform: rotateZ(90deg);
    }
}

.actionBtn {
    width: 40px;
    position: absolute;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 2px solid #c9c9c9;
    border-radius: 50%;
}

@media (min-width: 968px) {
    .actionBtn {
        display: none;
    }
}

.actionBtn_next {
    top: 10px;
    transform: rotate(-90deg);
}

.actionBtn_previous {
    bottom: 10px;
    transform: rotate(90deg);
}