body {
    background-color: rgb(16, 16, 16);
}

.imgRatio {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: grab;
    position: absolute;
}

.dragged::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(252, 246, 237, 0.819);
}

@media (max-width: 960px) {
    .bookContainer {
        transform: rotateZ(90deg);
    }
}
